h1 {
    color: blue
}
.div1 {
    width: 400px;
    height: 400px;
    background: rgb(174, 174, 174);
}
.blue {
    width: 200px;
    height: 200px;
}
#div2 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    height: 2000px;
}

body {
    font-size: 150%
}